* {
  color: #000;
  padding: 0;
  margin: 0;
}

body {
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

#container-main {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#formCont {
  width: 34%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  background-color: #4d4899;
}

#formContLogin {
  width: 34%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  background-color: #4d4899;
}

#formContLogin h1{
  color: #FFF;
  margin-bottom: 30px;
}

#formCont ul li {
  text-align: center;
}

#form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#form-container button {
  width: 100%;
  align-items: center;
}

#formCont h1 {
  text-align: center;
  color: white;
}

#successes {
  color: rgb(67, 121, 67);
}

.form-control {
  background-color: #d1c9c9;
}

.table-custom th,
.table-custom td {
  border: none;
  text-align: center;
  width: 25%;
  padding: 15px;
 
}

.linkDoc {
  color: #FFF;
  text-decoration: underline;
}

.key {
  color: #FFF;
}

.table-custom {
  text-align: center;
  width: 100%;
  min-height: 20%;
  color: #FFF;
  table-layout: fixed;
  border-radius: 10px;
  background-color: #4d4899;
}

#formCont h1 {
  margin-bottom: 20px;
}

.form-group input {
  height: 50px;
  width: 250px;
  
}
.form-group input::placeholder {
  color: #302a2a;
}

.form-group label {
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}

#formUserButton {
  width: 100px;
  height: 50px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  background-color: #7c6f9b;
  transform: 0.1s;
}

#formUserButton:hover {
  background-color: #5a4688;
  color: #000;
}

.container {
  margin-top: 40px;
  text-align: center;
}

#container {
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  color: #FFF;
  flex-direction: column;
}

#container h1{
  margin-bottom: 30px;
}

#warnings {
  background-color: rgb(206, 44, 44);
  padding: 20px;
  border-radius: 10px;
}

#warnings p {
  background-color: rgb(206, 44, 44);
  font-weight: bold;
}

#success {
  background-color: rgb(67, 121, 67);
  padding: 20px;
  border-radius: 10px;
}

#successes p {
  background-color: rgb(67, 121, 67);
  font-weight: bold;
}

nav a {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  margin: 0 20px;
}

a {
  cursor: pointer;
}

#buttonsDiv {
  background-color: #4d4899;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 200px;
  border-radius: 10px;
  margin-top: 100px;
}

#buttonsDiv button {
  margin: 20px;
  width: 200px;
  height: 60px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  background-color: #7c6f9b;
  transform: 0.1s;
}

#buttonsDiv button:hover {
  background-color: #5a4688;
  color: #000;
}

#trash {
  font-size: 30px;
  color: red;
}

#upload {
  font-size: 30px;
  color: rgb(109, 136, 136);
}

.inputFile::placeholder {
  background-color: #FFF;
  color: #FFF;
}


.error {
  text-align: center;
  width: 20%;
  background-color: rgb(206, 44, 44);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.error p {
  background-color: rgb(206, 44, 44);
  font-weight: bold;
}

#errorHome {
  text-align: center;
 
  height: 60px;
  font-weight: bold;
  background-color: rgb(206, 44, 44);
  padding: 10px;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 10px;
}

#container-main-home {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#filterInputs {
  display: flex;
  justify-content: center;
  width: 100%;
}

#filterInputs2 {
  width: 65%;
  height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #5a4688;
  border-radius: 5px;
  margin-bottom: 30px;
}

#filterInputs2 p {
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
}

#inputsss {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

#filterInputs input{
  margin: 0 15px;
 
  padding: 20px;
  border-radius: 10px;
}




.searchButton {
  margin-top: 10px;
  width: 200px;
  height: 45px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  background-color: #7c6f9b;
  transform: 0.1s;
}

.searchButton:hover {
  background-color: #5a4688;
  color: #000;
}


#aa {
  color: #FFF;
  text-decoration: underline;
}