{% include "templates/header.html" %}

<div id="formCont">
	<h1>Login de Usuário</h1>
	{% if erro == 1 %}
		<p id="warning">Preencha todos os campos!</p>
	{% else %}
		{% if erro == 2 %}
			<p id="warning">Email ou Senha Incorretas</p>
		{% endif %}
	{% endif %}
	<div id="form-container">
		<form action="http://localhost/pw/trabalho-programa-o-web/controller/login_user.php" method="POST">
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Digite o seu Email">
			</div>
			<div class="form-group">
				<label for="password">Senha</label>
				<input type="password" class="form-control" name="password" id="password" placeholder="Digite sua senha">
			</div>

			<div>
				<button type="submit" class="btn btn-primary">Logar Usuário</button>
			</div>

		</form>
	</div>
</div>

{% include "templates/footer.html" %}
